<div id="detail">
  <div>
    <%= image_tag @piece.img_file %>
  </div>
  <div class="info">
    <div>
      <%= @piece.item %>
    </div>
    <div>
      Price
    </div>
    <div>
      <%= @piece.price %>
    </div>
    <div>
      Description
    </div>
    <div>
      <%= @piece.description %>
    </div>
    <div>
      Dimensions
    </div>
    <div>
      <ul>
        <li>Width: <%= @piece.dimension_w %></li>
        <li>Length: <%= @piece.dimension_l %></li>
        <li>Height: <%= @piece.dimension_h %></li>
      </ul>
    </div>
  </div>
</div>
